<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <target xsi:type="File" name="allfile" fileName="/app/logs/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="/app/logs/archives/nlog-all-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="30"
            keepFileOpen="false"
            concurrentWrites="true" />

    <!-- File Target for own log messages with extra details using some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="/app/logs/nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            archiveFileName="/app/logs/archives/nlog-own-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="30"
            keepFileOpen="false"
            concurrentWrites="true" />

    <!--Console Target for ALL messages -->
    <target xsi:type="Console" name="console" layout="${MicrosoftConsoleLayout}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs to file and console-->
    <logger name="*" minlevel="Info" writeTo="allfile,console" />

    <!--Enable HTTP request logging -->
    <logger name="Microsoft.AspNetCore.Hosting.*" minlevel="Info" writeTo="console" />
    <logger name="Microsoft.AspNetCore.Routing.*" minlevel="Info" writeTo="console" />

    <!-- Write own logs (including repository logs) to console and own file -->
    <logger name="HumanProof.Api.*" minlevel="Trace" writeTo="ownFile-web,console" />
  </rules>
</nlog>
